html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Inter';
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: clamp(28px, 8vw, 70px);
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}

.carousel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.carousel.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 2s, visibility 2s;
}

.fixed-header {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    background-color: rgb(20, 20, 20);
    position: fixed;
    z-index: 14;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px white dashed;
}

.fixed-header.visible {
    opacity: 1;
    visibility: visible;
}

.fixed-header h2 {
    text-align: center;
    font-size: clamp(28px, 8vw, 40px);
    position: absolute;
    z-index: 15;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0;
}

.fixed-header p {
    font-size: clamp(5px, 3vw, 15px);
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 0;
    margin: 0;
    width: fit-content;
    transform: translateY(-50%);
}

.fixed-header .right {
    text-align: right;
    position: absolute;
    left: auto;
    right: 15px;
}

.h-wrapper p {
    font-size: clamp(5px, 2vw, 10px);
    color: rgb(75, 75, 75);
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;
    right: 0;
    margin: 0;
    width: fit-content;
}

.a-wrapper {
    font-size: clamp(10px, 2vw, 15px);
    text-decoration: none;
}

.h-wrapper .right {
    text-align: right;
    left: auto;
    right: 15px;
}

img {
    width: 100%;
    height: auto;
}

details {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
}

.dropdown-hover {
    cursor: pointer;
}

summary {
    font-weight: 600;
    font-size: 25px;
    width: fit-content;
    color: #994cde;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: 0.5s;
    scale: 1;
}

summary:hover {
    scale: 1.05;
}

.beach-closure {
    color: #d73cbd;
}

.beach-closure:hover {
    color: #f063d8;
}

summary:hover {
    color: #b974f5;
}

.ship-hover:hover {
    color: #eba652;
}

.booster-hover:hover {
    color: #3e98f2;
}

pre {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 1em;
}

b {
    font-weight: 600;
}

.h-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.h-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
    z-index: 1;
}

.headerimg {
    display: block;
}

.firstdiv {
    margin-top: 20px;
}

div {
    margin-top: 40px;
    padding: 0 20px;
}

.centered-div {
    text-align: center;
    border: 3px white solid;
    border-radius: 10px;
}

.f-button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    padding: 5px;
    border-radius: 15px;
    background-color: black;
    border: 2px white solid;
    color: white;
    scale: 1;
    transition: 0.2s;
}

.f-button:hover {
    color: black;
    background-color: white;
    scale: 1.1;
    cursor: pointer;
}

.footer {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 5px;
}

.booster {
    color: #1b82e8;
}

.ship {
    color: #e49330;
}

.launch {
    color: #994cde;
}

.countdown {
    color: rgb(17, 207, 228);
}

.p-small {
    color: rgb(75, 75, 75);
    font-size: 10px;
    margin: 0;
}

a {
    color: lightgray;
    text-decoration-color: lightgray;
    text-decoration-thickness: 1px;
}

.a-source {
    color: rgb(75, 75, 75);
    text-decoration-color: rgb(75, 75, 75);
}

.a-none {
    color: auto;
    text-decoration-color: auto;
}

.grow-link {
    scale: 1;
    color: auto;
    transition: 0.3s;
}

.grow-link:hover {
    scale: 1.05;
    color: rgb(80, 147, 235);
}

.complete {
    color: lightgreen;
}

.in-progress {
    color: rgb(249, 170, 91);
}

.incomplete {
    color: lightcoral
}

.uncertain {
    color: rgb(235, 188, 18);
    font-style: italic;
}

.if-necessary {
    color: rgb(188, 21, 191);
    font-style: italic;
}

.retired {
    color: rgb(155, 155, 155);
}

.booster-s {
    color: rgb(54, 184, 228);
}

.ship-s {
    color: rgb(237, 162, 101);
}

.booster-launch-p {
    font-weight: 500;
    color: rgb(192, 233, 248);
}

.ship-launch-p {
    font-weight: 500;
    color: rgb(248, 214, 192)
}

.expand11 {
    display: inline-block;
    scale: 1;
    transition: 0.3s;
}

.expand11:hover {
    cursor: pointer;
    scale: 1.1;
}

.a-whiten {
    color: lightgray;
    transition: 0.3s;
}

.a-whiten:hover {
    color: white;
}